.gridpane{
    -fx-border-color: purple;
    -fx-scale-x: 200;
}


.vbox{
    -fx-font-size: 10pt;
    -fx-font-family: "Helvetica";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
    -fx-padding: 16;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: black;
}
